.home{
    display: flex;
    align-items: flex-start;
}

.home__products{
    padding:1rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.home__form{
    display: flex;
    margin-top: 30px;
}

.home__input{
    width: 100%;
    font-family: 'Marcellus', serif;
    font-size: 14px;
    padding: 1rem;
    border: var(--color-grey) 1px solid;
}

.home__btn{
    width: 50px;
    font-size: 18px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    background-color: var(--color-dark);
}

.list__products{
    display: grid;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.home__filters{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter__btn{
    display: flex;
    cursor: pointer;
    font-size: 18px;
    color: var(--color-grey);
    justify-content: flex-end;
}


.filter__btn p{
    display: flex;
    justify-content: center;
    position: relative;
}

.filter__btn p:hover{
    color: var(--color-principal);

}

.filter__btn p:hover > span{
    width: 100%;
}

.bar__filter{
    height: 1px;
    width: 0%;
    transition: width 0.2s;
    background-color: var(--color-principal);
    position: absolute;
    bottom: -1px;
}

.notFound{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: "600px";
}


@media (min-width: 630px) {

    .display__filter{
        display: none;
     }
 }

/* .home__btn:hover{
    
} */